/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/project-name-co-uk/_img/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Regular-webfont.eot);
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(/project-name-co-uk/_img/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/project-name-co-uk/_img/fonts/OpenSans-Regular-webfont.svg) format('svg'), url(/project-name-co-uk/_img/fonts/OpenSans-Regular-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Semibold-webfont.eot);
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(/project-name-co-uk/_img/fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(/project-name-co-uk/_img/fonts/OpenSans-Semibold-webfont.svg) format('svg'), url(/project-name-co-uk/_img/fonts/OpenSans-Semibold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Bold-webfont.eot);
  src: url(/project-name-co-uk/_img/fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/project-name-co-uk/_img/fonts/OpenSans-Bold-webfont.woff) format('woff'), url(/project-name-co-uk/_img/fonts/OpenSans-Bold-webfont.svg) format('svg'), url(/project-name-co-uk/_img/fonts/OpenSans-Bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url("/project-name-co-uk/_img/fonts/icomoon.eot?wycmvo");
  src: url("/project-name-co-uk/_img/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/project-name-co-uk/_img/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/project-name-co-uk/_img/fonts/icomoon.woff?wycmvo") format("woff"), url("/project-name-co-uk/_img/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 14, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 30, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*
COLOURS*/
/*  
FONTS */
/*
MORE */
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  padding: 0 10px 0 10px;
  display: block;
}

/* line 24, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid1 {
    width: 6.24%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid2 {
    width: 14.4%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid3 {
    width: 22.56%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid4 {
    width: 30.72%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid5 {
    width: 38.88%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid6 {
    width: 47.04%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid7 {
    width: 55.2%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid8 {
    width: 63.36%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid9 {
    width: 71.52%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid10 {
    width: 79.68%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid11 {
    width: 87.84%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.92%;
    margin-bottom: 0;
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../sass/_general.scss */
body {
  overflow-x: hidden;
}
/* line 14, ../sass/_general.scss */
body p {
  font-family: "Open Sans Regular", sans-serif;
}
/* line 17, ../sass/_general.scss */
body button {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  font-family: "Open Sans Bold", sans-serif;
  padding: 10px 16px;
  background: #358f18;
  margin-top: 12px;
  border-radius: 4px;
  min-width: 115px;
}
/* line 29, ../sass/_general.scss */
body button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
}

/* line 1, ../sass/_nav.scss */
.grid7 {
  text-align: right;
  vertical-align: middle;
}
/* line 4, ../sass/_nav.scss */
.grid7 .top-menu {
  display: none;
}
@media (min-width: 1025px) {
  /* line 4, ../sass/_nav.scss */
  .grid7 .top-menu {
    display: inline-block;
    vertical-align: middle;
  }
}
/* line 10, ../sass/_nav.scss */
.grid7 .top-menu ul {
  display: block;
  width: 100%;
}
/* line 13, ../sass/_nav.scss */
.grid7 .top-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0 7px;
}
/* line 17, ../sass/_nav.scss */
.grid7 .top-menu ul li a {
  color: #555;
  font-size: 15px;
  font-family: "Open Sans Bold", sans-serif;
  color: #444;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
@media (min-width: 1200px) {
  /* line 17, ../sass/_nav.scss */
  .grid7 .top-menu ul li a {
    font-size: 16px;
  }
}
/* line 28, ../sass/_nav.scss */
.grid7 .top-menu ul li ul {
  display: none;
}
/* line 31, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul {
  position: absolute;
  display: block;
  width: 300%;
  -webkit-transform: translateX(-33%);
  -moz-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  transform: translateX(-33%);
}
/* line 36, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul li {
  display: block;
  background: transparent;
}
/* line 39, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul li:first-child {
  padding-top: 5px;
}
/* line 42, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul li:last-child {
  border-bottom: none;
}
/* line 45, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul li a {
  font-size: 13px;
  color: #fff;
  display: block;
  padding: 10px 4px;
}
/* line 50, ../sass/_nav.scss */
.grid7 .top-menu ul li:hover ul li a:hover {
  background: #fff;
}

/* line 61, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
/* line 62, ../sass/_nav.scss */
.mobile-menu .buttonwrap {
  padding: 15px 0 0 20px;
}
/* line 64, ../sass/_nav.scss */
.mobile-menu .buttonwrap button {
  padding: 10px 26px;
}
/* line 74, ../sass/_nav.scss */
.mobile-menu ul {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
}
/* line 82, ../sass/_nav.scss */
.mobile-menu ul li {
  padding: 10px 0;
}
/* line 84, ../sass/_nav.scss */
.mobile-menu ul li a {
  text-decoration: none;
  color: white;
}
/* line 88, ../sass/_nav.scss */
.mobile-menu ul li ul {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 99, ../sass/_nav.scss */
.menu_button {
  z-index: 100;
  position: fixed;
  top: 6px;
  right: 6px;
  font-size: 40px;
  color: #151515;
  background: none;
  border: none;
  outline: none;
  box-shadow: none !important;
}
@media (min-width: 1025px) {
  /* line 99, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
@media (min-width: 400px) {
  /* line 99, ../sass/_nav.scss */
  .menu_button {
    font-size: 50px;
  }
}
@media (min-width: 600px) {
  /* line 99, ../sass/_nav.scss */
  .menu_button {
    font-size: 60px;
  }
}
/* line 119, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 123, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}
/* line 127, ../sass/_nav.scss */
.menu_button.level2:before {
  content: "\e602";
}

/* line 1, ../sass/_sections.scss */
header {
  width: 100%;
  padding: 15px 20px 10px;
  display: block;
  background: #fff;
  z-index: 100;
}
/* line 7, ../sass/_sections.scss */
header .container {
  position: relative;
  margin-top: 10px;
}
/* line 10, ../sass/_sections.scss */
header .container .social {
  position: absolute;
  top: -10px;
  right: 24px;
}
/* line 14, ../sass/_sections.scss */
header .container .social a {
  margin-left: 5px;
}
/* line 18, ../sass/_sections.scss */
header .container .grid3 {
  vertical-align: middle;
}
/* line 20, ../sass/_sections.scss */
header .container .grid3 .logo {
  display: inline-block;
  min-width: 200px;
  width: 100%;
}
/* line 24, ../sass/_sections.scss */
header .container .grid3 .logo img {
  max-width: 100%;
}
/* line 29, ../sass/_sections.scss */
header .container .grid2 {
  text-align: right;
  vertical-align: middle;
}
/* line 32, ../sass/_sections.scss */
header .container .grid2 button {
  margin: 0;
}

/* line 38, ../sass/_sections.scss */
.flex-container {
  padding-top: 80px;
}
@media (min-width: 600px) {
  /* line 38, ../sass/_sections.scss */
  .flex-container {
    display: block;
  }
}
@media (min-width: 1025px) {
  /* line 38, ../sass/_sections.scss */
  .flex-container {
    padding-top: 0;
  }
}
/* line 46, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 48, ../sass/_sections.scss */
.flex-container .flexslider li {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 52, ../sass/_sections.scss */
.flex-container .flex-direction-nav {
  display: none;
}
/* line 55, ../sass/_sections.scss */
.flex-container p.flex-caption {
  display: none;
  text-shadow: none;
  width: 100%;
  max-width: 600px;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  bottom: inherit;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Open Sans Regular", sans-serif;
  color: #565656;
}
@media (min-width: 600px) {
  /* line 55, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    display: block;
  }
}
/* line 72, ../sass/_sections.scss */
.flex-container p.flex-caption .caps {
  font-family: "Open Sans Bold", sans-serif;
  text-transform: uppercase;
  color: #358f18;
  font-size: 55px;
  line-height: 1.1;
}
/* line 79, ../sass/_sections.scss */
.flex-container p.flex-caption .caption-text {
  display: block;
  width: 75%;
}

/* line 85, ../sass/_sections.scss */
.text-section {
  background: #f2eded;
  padding: 10px 0;
}
@media (min-width: 1025px) {
  /* line 85, ../sass/_sections.scss */
  .text-section {
    padding: 55px 0;
  }
}
/* line 91, ../sass/_sections.scss */
.text-section .icon-holder {
  text-align: center;
  padding-bottom: 26px;
}
/* line 94, ../sass/_sections.scss */
.text-section .icon-holder img {
  width: 48px;
  height: 48px;
}
/* line 99, ../sass/_sections.scss */
.text-section .text {
  font-size: 16px;
  color: #5f5f5f;
  text-align: center;
  line-height: 1.4;
}
@media (min-width: 600px) {
  /* line 99, ../sass/_sections.scss */
  .text-section .text {
    font-size: 20px;
  }
}

/* line 109, ../sass/_sections.scss */
.welcome {
  background: rgba(53, 143, 24, 0.9);
  position: relative;
  padding: 70px 0;
  text-align: center;
  color: #fff;
}
/* line 115, ../sass/_sections.scss */
.welcome .container {
  position: relative;
  z-index: 1;
}
/* line 118, ../sass/_sections.scss */
.welcome .container p {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
/* line 123, ../sass/_sections.scss */
.welcome .container h1 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 127, ../sass/_sections.scss */
.welcome .container h1:after {
  content: "";
  width: 64px;
  height: 5px;
  background: #fff;
  display: block;
  margin: 20px auto;
}
/* line 137, ../sass/_sections.scss */
.welcome .bg {
  background: url("/project-name-co-uk/_img/peoplewalking.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 3px;
  z-index: -1;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* line 150, ../sass/_sections.scss */
.three-boxes {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 0;
}
/* line 154, ../sass/_sections.scss */
.three-boxes .box {
  display: inline-block;
  width: 33.33%;
  padding: 2%;
}
/* line 158, ../sass/_sections.scss */
.three-boxes .box .innerbox {
  border: 1px solid #777;
  font-size: 16px;
  text-align: center;
  padding: 10%;
  font-family: "Open Sans Regular", sans-serif;
}
/* line 164, ../sass/_sections.scss */
.three-boxes .box .innerbox h1 {
  text-transform: uppercase;
  color: #358f18;
  font-size: 31px;
  font-family: "Open Sans Bold", sans-serif;
  margin: 16px 0;
}
/* line 171, ../sass/_sections.scss */
.three-boxes .box .innerbox p {
  line-height: 1.6;
  margin-bottom: 10px;
}
/* line 176, ../sass/_sections.scss */
.three-boxes .box:nth-child(2) {
  background-color: #f2eded;
}

/* line 181, ../sass/_sections.scss */
#twitterBox {
  font-size: 14px;
  line-height: 1.4;
}
/* line 184, ../sass/_sections.scss */
#twitterBox ul li {
  margin-bottom: 30px;
}
/* line 186, ../sass/_sections.scss */
#twitterBox ul li .user {
  display: inline-block;
}
/* line 189, ../sass/_sections.scss */
#twitterBox ul li .user a span {
  display: none;
}
/* line 194, ../sass/_sections.scss */
#twitterBox ul li .tweet {
  display: inline-block;
  width: 75%;
  padding-left: 6px;
}
/* line 198, ../sass/_sections.scss */
#twitterBox ul li .tweet a {
  text-decoration: none;
}
/* line 202, ../sass/_sections.scss */
#twitterBox ul li .timePosted {
  margin-left: 52px;
  font-size: 12px;
  color: #333;
}
/* line 207, ../sass/_sections.scss */
#twitterBox ul li .interact {
  display: none;
}

/* line 213, ../sass/_sections.scss */
footer .logo {
  padding: 10px;
}
/* line 215, ../sass/_sections.scss */
footer .logo img {
  max-width: 100%;
}
@media (min-width: 1025px) {
  /* line 213, ../sass/_sections.scss */
  footer .logo {
    display: inline-block;
    width: 26%;
    vertical-align: middle;
  }
}
/* line 224, ../sass/_sections.scss */
footer .copyright {
  width: 100%;
  padding: 16px 0;
  text-align: right;
  color: #fff;
  padding-right: 20px;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  background: #363636;
}
/* line 233, ../sass/_sections.scss */
footer .copyright a {
  text-decoration: none;
  color: #fff;
}
