/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: $white;    
    overflow-x: hidden;
    &.menu_up {
        overflow: hidden;
    }
    p {
        font-family: $text;
    }
    button {       
        border: none;
        outline: none;
        color: white;
        font-size: 16px;
        @include transition(background 0.3s);
        font-family: $bold;
        padding: 10px 16px;
        background: $green;
        margin-top: 12px;
        border-radius: 4px;
        min-width: 115px;
        &:hover {
            cursor: pointer;
            box-shadow: $shadow;
        }
    }
    

}
