.banner {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 220px 0 135px;
    @include breakpoint($lg) {
        padding: 250px 0;
    }
    .banner-text {
        max-width: 330px;
        @include breakpoint($lg) {
            max-width: 500px;
        }
        font-size: 18px;
        line-height: 1.4;
        font-family: $text;
        color: $text-grey;
        margin-left: 2%;
        h1 {
            font-family: $bold;
            text-transform: uppercase;
            color: $green;
            @include breakpoint($lg) {
                font-size: 55px;
            }
            font-size: 30px;
            line-height: 1.1;
            
        }
        p {
            display: block;
            width: 75%;
            font-size: 16px;
            @include breakpoint($md) {
                font-size: 18px;
            }
        }
    }
}
