header {
    width: 100%;
    padding: 15px 0 10px;
    display: block;
    background: $white;
    z-index: 100;
    position: fixed;
    @include breakpoint($lg) {
        position: static;
    }
    .grid3 {
        margin: 0;
    }
    .grid7 {
        display: none;
        @include breakpoint($lg) {
            display: inline-block;
        }
    }
    .container {
        position: relative;
        margin-top: 10px;
        .social {
            position: absolute;
            top: -10px;
            right: 40px;
            a {
                margin-left: 5px;
            }
        }
        .grid3 {
            vertical-align: middle;
            .logo {
                display: inline-block;
                min-width: 200px;
                width: 100%;
                img {
                    max-width: 100%;
                }
            }
        }
        .grid2 {
            display: none;
            @include breakpoint($lg) {
                display: inline-block;
            }
            text-align: right;
            vertical-align: middle;
            button {
                margin: 0;
            }
        }
    }
}
.flex-container {
    position: relative;
    @include breakpoint($md) {
        display: block;
    }
    padding-top: 80px;
    @include breakpoint($lg) {
        padding-top: 0;
    }
    .flexslider {
        border: none;
        li {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
        }
    }
    .flex-direction-nav {
        display: none;
    }
    li {
        p.flex-caption {
            display: block;
            text-shadow: none;
            width: 100%;
            position: relative;
            @include transition(left 0.8s);
            @include transition-delay(1s);
            left: -500px;
            max-width: 600px;
            text-align: left;
            top: 50%;
            @include transform(translateY(-50%));
            background: none;
            bottom: inherit;
            font-size: 18px;
            line-height: 1.4;
            font-family: $text;
            color: $text-grey;
            margin-left: 1%;
            .caps {
                font-family: $bold;
                text-transform: uppercase;
                color: $green;
                font-size: 55px;
                line-height: 1.1;
            }
            .caption-text {
                display: block;
                width: 75%;
            }
        }
    }
    li.flex-active-slide {
        p.flex-caption {
            left: 0;
        }
    }
}
.text-section {
    background: $light-grey;
    padding: 10px 0;
    @include breakpoint($lg) {
        padding: 55px 0;
    }
    .icon-holder {
        text-align: center;
        padding-bottom: 26px;
        img {
            width: 48px;
            height: 48px;
        }
    }
    .text {
        font-size: 16px;
        @include breakpoint($md) {
            font-size: 20px;
        }
        color: #5f5f5f;
        text-align: center;
        line-height: 1.4;
    }
}
.welcome {
    background: $trans-green;
    position: relative;
    padding: 70px 0;
    text-align: center;
    color: $white;
    .container {
        position: relative;
        z-index: 1;
        p {
            font-family: $text;
            font-size: 16px;
            line-height: 1.6;
        }
        h1 {
            font-family: $bold;
            font-size: 30px;
            text-transform: uppercase;
            &:after {
                content: "";
                width: 64px;
                height: 5px;
                background: $white;
                display: block;
                margin: 20px auto;
            }
        }
    }
    .bg {
        background: url("/project-name-co-uk/_img/peoplewalking.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3px;
        z-index: -1;
        @include filter(blur(3px));
    }
}
.three-boxes {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 0;
    .box {
        max-width: 500px;
        margin: 0 auto;
        @include breakpoint($lg) {
            display: inline-block;
            width: 33.33%;
            max-width: 100%;
        }
        padding: 2%;
        .innerbox {
            border: 1px solid #777;
            font-size: 16px;
            text-align: center;
            padding: 10%;
            font-family: $text;
            @include transition(box-shadow,
            0.1s);
            &.linkhvr {
                box-shadow: inset 0 0 1px 6px rgba(0, 0, 0, 0.2);
                img {
                    @include transform(scale(1));
                }
            }
            img {
                @include transition(transform 0.3s);
                @include transform(scale(0.95));
            }
            h1 {
                text-transform: uppercase;
                color: $green;
                font-size: 31px;
                font-family: $bold;
                margin: 16px 0;
            }
            p {
                line-height: 1.6;
                margin-bottom: 10px;
            }
        }
        &:nth-child(2) {
            background-color: $light-grey;
        }
    }
}
.twitterstrip {
    padding: 40px;
    background: $green;
    color: $white;
    text-align: center;
    img {
        margin-bottom: 20px;
    }
    h1 {
        font-family: $bold;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    #twitterBox {
        font-size: 14px;
        line-height: 1.6;
        ul li {
            .user {
                display: none;
                a {
                    span {
                        display: none;
                    }
                }
            }
            .tweet {
                display: block;
                font-size: 30px;
                font-family: $light;
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
            .timePosted {
                margin-top: 30px;
                font-size: 18px;
                color: $white;
                font-family: $light;
            }
            .interact {
                display: none;
            }
        }
    }
}
.testimonials {
    background: $grey;
    padding: 30px 0 0;
    .testimonialImage {
        max-width: 100%;
        position: relative;
        bottom: -3px;
    }
    .flex-container-testimonials {
        position: relative;
        padding-top: 50px;
        .flexslider {
            border: none;
            li {}
        }
        .flex-direction-nav {
            display: none;
        }
        li {
            p.flex-caption {
                display: block;
                text-shadow: none;
                width: 100%;
                text-align: left;
                top: 50%;
                background: none;
                bottom: inherit;
                font-size: 16px;
                line-height: 1.6;
                font-family: $light;
                margin-left: 1%;
                span.name {
                    display: block;
                    font-family: $bold;
                    font-size: 18px;
                    color: #606060;
                    margin: 20px 0;
                }
            }
        }
        li.flex-active-slide {
            p.flex-caption {}
        }
    }
}
footer {
    font-family: $text;
    color: $white;
    background: #454545;
    text-align: right;
    .container {
        .logo {
            padding: 10px;
            text-align: left;
            left: 0;
            img {
                max-width: 100%;
            }
            @include breakpoint($lg) {
                display: inline-block;
                width: 40%;
                vertical-align: middle;
            }
        }
    }
}
